<div class="wrapper">
	<div class="container">
		<div class="title primary largevertspace">
			<%= link_to "alex heil rocks.", root_url %>
		</div>
		<div class="minititle smallvertspace">
			<%= link_to "the first ugly-ass blog post", firstblogpost_path, class: "secondarylink" %>
		</div>
		<div class="minivertspace">
			The first blog post on my site where I share why the fuck I made this thing in the first place. Spoiler alert: it was because of the stupid colors and the stupid style and to show off all of the stupid things I've made.
		</div>
	</div>
</div>