<div class="wrapper">
	<div class="container">
		<div class="title primary largevertspace">
			<%= link_to "alex heil rocks.", root_url %>
		</div>

		<div class="medvertspace medtitle secondary">
			My first blog post. (of all time)
		</div>

		<div class="minivertspace">
			Yeah, fucking right, this is my first blog post of all time.
		</div>
		<div class="minivertspace">
			There's been like a billion, but this isn't the first one that is a load of regurgitated garbage from someone else's regurgitated garbage.
		</div>
		<div class="minivertspace">
			But, I think the real goal of this dumbass blog is to go behind the scenes of the real cool crap I've been working on like:
		</div>
		<div class="minivertspace">
			<%= link_to "let:lyrics", "https://www.letlyrics.com" %>
		</div>
		<div class="minivertspace">
			That looks like it's so tiny, yeah? Well, it's fucking not, man. There are several users on the site who love it. Seriously I interviewed 10 out of the 100,000 people who have visted and 10/10 people said, and I quote, "THIS IS THE COOLEST FUCKING WEBSITE I HAVE EVER SEEN. I'M AS EXCITED AS ALL OF THE GUY'S WHO RECEIVED LANCE ARSTRONG'S TOUR DE FRANCE TITLES AFTER HE GOT CANNED FOR DOING EYE OPENERS!"
		</div>
		<div class="minivertspace">
			And this:
		</div>
		<div class="minivertspace">
			<%= link_to "noisaea", "https://www.noisaea.com" %>
		</div>
		<div class="minivertspace">
			Noisaea sucks and that's the best way I can put it until I fucking destroy (good) it (good). It's supposed to be the universal spot for the msuic industry, but clearly needs a ton of work on all ends. It's still functions though, so you should join unless you, yourself, sucks big time.
		</div>
		<div class="minivertspace">
			Other than that I can't think of what else I'll use this for. Maybe I'll post some sick coding tricks that I learn. Maybe if some celebrity does something super stupid, I'll write about that but probably fucking not. Maybe, if I'm lucky I'll save a baby from a burning building and I can write about that.
		</div>
		<div class="minivertspace">
			Or maybe, probably, I'll just play Halo all day and forget I even started this thing in the first page.
		</div>
		<div class="minivertspace">
			Alright, time to throw this shit up on GitHub.
		</div>
		<div class="minivertspace">
			Wait for the breakdown.
		</div>
		<div class="minivertspace">
			000-00000-000000-0-0-00000000-00-000-000-000
		</div>

	</div>
</div>