<div class="wrapper">
	<div class="container">
		<div class="title primary largevertspace">
			<%= link_to "alex heil rocks.", root_url %>
		</div>
		<div class="medtitle smallvertspace">
			portfolio.
		</div>
		<div class="minivertspace">
			There's nothing here yet. Idiot.
		</div>
	</div>
</div>