<div class="wrapper">
	<div class="container">
		<div class="title primary largevertspace">
			<%= link_to "alex heil rocks.", root_url %>
		</div>
		<div class="medtitle smallvertspace">
			sandbox.
		</div>
		<div class="minivertspace">
			Clearly empty, you moron.
		</div>
	</div>
</div>